<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
 <dict>
  <key>items</key>
  <dict>
   <key>assets</key>
   <array>
    <dict>
     <key>kind</key>
     <string>software-package</string>
     <key>url</key>
     <string>https://edef7.pcloud.com/cfZQ7opdqZcWeqjb7ZH5ruZZEWYhVkZ2ZZ1S5ZZsJr6FZBFZ3zZ10ZykZJLZV4ZcpZyzZXpZ8pZP4Z4JZFHZ1RZYnozrkdcn1ywIxLsELxSG05xz3F7/KRNL.ipa</string>
    </dict>
    <dict>
     <key>kind</key>
     <string>display-image</string>
     <key>need-shine</key>
     <integer>0</integer>
     <key>url</key>
     <string>https://i.postimg.cc/pTr9GGYx/Roblox-2025-App-Icon.png</string>
    </dict>
   </array>
   <key>metadata</key>
   <array>
    <dict>
     <key>bundle-identifier</key>
     <string>com.krnl.client</string>
     <key>bundle-version</key>
     <string>1.0.0</string>
     <key>kind</key>
     <string>software</string>
     <key>title</key>
     <string>Krnl</string>
    </dict>
   </array>
  </dict>
 </dict>
</plist>